.btn-grid{
  display: grid;
/*   height: 100%;
  width: 100%; */
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: red; */
}

.textBox-output{
  height: 50px;
  font-size: 25px;
}
