.btn-grid{
  display: grid;
 height: 80%;
  width: 100%;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: red; */
}

.textBox-output{
  height: 50px;
  font-size: 25px;
}

.flexBox { 
  display: flex;
  flex-direction: row;
/*   align-items: center;
  justify-content: center; */
 /*  background-color: aqua; */
  height: 100vh;
  width: 100%;
}

.calculator{
  flex-basis: 60%;
}

.historyBox{
  top: 0;
  flex-basis: 35%;
}

.historyBox button{
  background-color: transparent;
}

.historyBox button:hover{
  background-color: #1a1a1a;
}